body {
    margin: 0;
    display: flex;
    min-height: 100vh;
}
.container{
    height: 100vh;
    margin: 0;
    background-color: blue;
    display: flex;
    flex: 1;
}
.left-sidebar{
    background-color: beige;
    flex: 1 1 20%;
    padding: 1%;
    
}
.left-sidebar > span{
    
    text-align: center;
    font-size: large;
    margin-bottom: 5px;
}
li {
    margin-bottom: 8px;
}
span > img, li > img{
    width: 7%;
    height: 1em;
    vertical-align: top;
    margin-right: 1em;
}
.left-sidebar > ul{
    list-style-type:none;
}
.right-side{
    background-color: crimson;
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
}
.top-bar{
    flex: 1 1 20%;
    background-color:orange;
    display: flex;
    flex-direction: column;
    overflow:visible;
    position: sticky;
    top: -5.8em;
}

.top-bar-top{
    flex: 1 1 0%;
    border: 1px;
    background-color: rebeccapurple;
    display: flex;
    overflow: hidden;
   
}
.left-top{
    flex: 1;
    display: flex;
    padding: 0.8rem;
}
.left-top > form{
    flex: 1;
}
form > img {
    height: 1em;
    width: auto;
    justify-self: center;
    align-self: center;
    padding: 5px;
}
form{
    display: flex;
    background-color: gray;
    border-radius: 6px
}
form > input{
    flex: 1;
    border: none;
    background-color: transparent;
    
}

.right-top{
    padding-left: 1rem;
    margin: 1em 1em 1em 0;
   
}

.top-bar-bottom{
    flex: 1 1 0%;
    background-color: bisque;
    display: flex;
    position: static;
    top: 0px;
}
.left-bottom{
    flex: 1;
}


h3 > img{
    width: 7%;
    height: 1em;
    vertical-align: top;
    margin-right: 1em;
}

.bottom-bar{
    flex:1 1 80%;
    background-color: blue;
    display: flex;
}
.bottom-left {
    flex: 3;
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding: 0 1.2% 1.2% 1.2%;
  
}

h3{
    text-align: left;
}
.bottom-left > div{
    flex: 1;
    width: 100%;
    /* height: 90%; */
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    
   

}
.square{
    background-color: aqua;
    border-radius: 2px;
    border: 4px;
    border-style: dotted;
    color: black;
    height: 400px;
}
.bottom-right{
    flex: 1;
    background-color: gold;
    display: flex;
    flex-direction: column;
    padding: 0 1.2% 1.2% 1.2%;
}
.bottom-right > div{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.bottom-right > div > .square {
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: brown;
}


